@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #1e1e23;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    min-width: 300px;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    display: block;
    margin: 0;
}

.fp-tableCell {
    box-sizing: border-box;
    width: 100%;
    display: inherit;
    flex-flow: inherit;
    flex: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.sticky-header {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 3;
}

.sticky-header a, .sticky-header a:hover {
    color: #fff;
    text-decoration: none;
    text-transform: none;
}