.case-study .header {
    background-size: cover;
}

.case-study .header.meezi {
    background-image: url('../images/meezi-header.jpg');
}

.case-study .header.rosette {
    background-image: url('../images/rosette-header.jpg');
}

.case-study .header .headline {
    padding: 20px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.case-study .headline h1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.case-study .headline h2 {
    color: #eee;
    font-weight: 300;
    font-size: 16px;
}

.case-study .case-section {
    position: relative;
}

.case-study .case-section .case-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
}

.case-study .case-section .image {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center left;
}

.case-study .case-section .info {
    padding: 0 20px;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.case-study .case-section h2 {
    font-size: 32px;
}

.case-study .case-section p {
    font-size: 20px;
    color: #636363;
    line-height: 26px;
}

@media only screen and (min-width: 760px) {
    .case-study .case-section {
        align-items: center;
        flex-direction: row-reverse !important;
    }

    .case-study .case-section .info {
        height: 100%;
        width: 50%;
        padding: 0 0 0 50px;
    }

    .case-study .case-section .case-image {
        width: 50%;
        height: 100%;
    }

    .case-study .case-section h2 {
        font-size: 48px;
    }
}